*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables*/

// colors
$color-1: #2e4412;
$color-2: #432616;
$color-3: #f6c500;
$color-4: #f78c56;
$color-5: #f9ebcd;
$color-6: #fff;

// font
$fnt-fmly: "Fredoka", sans-serif;

html {
  font-family: $fnt-fmly;
  letter-spacing: 1px;
}

@mixin bodyKids($bodyKids: margin) {
  width: 90%;
  margin: 0 auto;
}

@mixin flexColCenter2($flexColCenter2: flex) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@mixin flexRowCenter2($flexRowCenter2: flex) {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btnAction($btnAction: button) {
  color: $color-6;
  background: $color-1;
  border: 2px solid $color-1;
}

@mixin padOne($padOne: padding) {
  padding: 1rem;
}

body {
  @include flexColCenter2;
  min-height: 100vh;
  background-color: $color-2;
  .header {
    @include bodyKids;
    h1 {
      color: $color-6;
      text-align: center;
      font: {
        size: 2.5rem;
      }

      #diff-h1 {
        color: $color-4;
      }

      #bottom-h1 {
        color: $color-5;
        display: block;
      }
    }
  }

  .wrapper {
    @include bodyKids;
    @include flexColCenter2;
    min-height: 375px;
    @include padOne;

    .sect-header {
      width: 100%;
      h2 {
        text: {
          align: center;
          transform: Capitalize;
        }
        color: $color-3;
        font: {
          size: 1.75rem;
          weight: 500;
        }
      }
    }

    .sect-text {
      @include flexColCenter2;
      p {
        @include bodyKids;
        @include flexRowCenter2;
        width: 100%;
        height: 150px;

        text: {
          align: center;
        }
        @include padOne;
        border-radius: 5px;

        font: {
          size: 1.25rem;
          weight: 400;
        }
        line-height: 1.4;
      }
      #para-joke {
        color: $color-4;
        background-color: $color-1;
      }
      #para-punchline {
        color: $color-1;
        background-color: $color-5;
        font: {
          family: cursive;
          weight: 600;
        }
      }
    }
  }

  .btn-submit {
    font-family: cursive;
    outline: none;
    border: none;
    @include padOne;
    color: $color-4;
    background: inherit;
    border: 2px solid $color-5;
    border-radius: 10px;
    font: {
      family: $fnt-fmly;
      size: 1.75rem;
    }
    cursor: pointer;
    transition: color 500ms ease-in-out, background 500ms ease-in,
      boxshadow 500ms ease-out, border 500ms ease;
  }
  .btn-submit:hover {
    @include btnAction;
    box-shadow: 0 8px 16px $color-5, -8px 0 16px $color-6;
  }
  .btn-submit:focus {
    @include btnAction;
    box-shadow: 0 4px 8px $color-6, -4px 0 8px $color-5;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;

    .sect-text {
      width: 90%;
      p {
        width: 100%;
        height: 150px;

        line-height: 1.4;
      }
    }
  }
}
